# Recorded by `supermcp adapter record`; replayed by `supermcp adapter test`.
# Credential values are replaced with SUPERMCP_CREDENTIAL_<NAME>.
adapter: dchub
tool: dchub_interconnection_queue
recordedAt: 2026-09-22T22:18:01Z
interactions:
  - request:
      method: GET
      url: https://dchub.cloud/api/v1/interconnection-queue/refined
      headers:
    response:
      status: 200
      headers:
        content-type: application/json
      body: '{"_cite": "Data: DC Hub (dchub.cloud), CC-BY-4.0 \u2014 cite as \"DC Hub, dchub.cloud\"", "_entity": "queue_results", "_gated": true, "_locked_fields": ["candidate_id", "capacity_mw", "estimated_ttp_months", "fiber_km", "lat", "lng", "representative_point", "site_evaluation_handoff", "total_queued_mw"], "_preview_only": true, "_source": "DC Hub \u2014 dchub.cloud", "_total_available": 4947, "candidate_ttl_days": 7, "count_returned": 3, "count_total_matching": 4947, "filters_applied": {"baseload_only": false, "fuel_type": null, "geocoded_only": false, "iso": null, "max_fiber_km": null, "max_ttp_months": null, "min_mw": 0, "status": "active"}, "note": "Server-side set-reduction over the live ISO interconnection queue (~5,300 projects, 7 ISOs). fuel_type is an inclusive substring match on the raw fuel label (e.g. ''gas'' hits GAS/Natural Gas); baseload_only excludes wind/solar/storage; iso accepts a comma-separated union. status=active (default) means still-progressing \u2014 it excludes terminal states (withdrawn/cancelled/suspended/in-commercial-operation) rather than matching the literal word, so it is cross-ISO safe (SPP labels its live projects ''IA FULLY EXECUTED/ON SCHEDULE'', ''DISIS STAGE'', etc.). PHASE 2 LIVE: ~83% of rows now carry a representative_point {lat,lng} (the invariant anchor \u2014 Phase 3 adds an optional GeoJSON `geometry` passenger alongside it) + a compact per-survivor site_evaluation_handoff (ready-to-pipe analyze_site + get_water_risk args). coordinate_precision is ''poi_exact'' (matched a named substation) or ''county_centroid'' (county-median of substation locations, ~county resolution \u2014 not parcel-exact). fiber_km + max_fiber_km = km to the nearest MAPPED long-haul route endpoint (coarse backbone-proximity from a sparse ~260-node dataset, NOT last-mile fiber). Use geocoded_only=true to keep only survivors an agent can pipe into analyze_site. estimated_ttp_months stays the ISO-level average (DCPI); a per-project ETA is the remaining refinement.", "ok": true, "provenance": {"cite_as": "DC Hub, dchub.cloud", "default_v": "inferred", "fallback_url": "https://dchub.cloud", "license": "CC-BY-4.0", "method": "published ISO queue disclosures, ingested per-ISO; per-record v: published = the ISO''s own figure, inferred = DC Hub derivation", "provenance_version": 1, "source": "US ISO public interconnection queues (ERCOT GIS / PJM NSQ / MISO GI / SPP / CAISO / NYISO / ISO-NE)"}, "results": [{"candidate_id": null, "capacity_mw": null, "coordinate_precision": "county_centroid", "county": "LA PAZ", "estimated_ttp_months": null, "expires_at": "2026-09-29T06:00:02.085052+00:00", "fiber_km": null, "fuel_class": "intermittent", "fuel_type": "Battery", "iso": "CAISO", "lat": 33.99, "lng": -114.25, "poi_name": "Delaney-Colorado River 500 kV Line", "project_name": "ATLAS COMPLEX", "queue_date": "2017-05-01", "queue_id": "CAISO-1402", "queue_status": "active", "representative_point": {"lat": 33.99, "lng": -114.25}, "site_evaluation_handoff": null, "snapshot_id": "snap_2026-09-22", "state": "AZ", "v": "published"}, {"candidate_id": null, "capacity_mw": null, "coordinate_precision": "county_centroid", "county": "York", "estimated_ttp_months": null, "expires_at": "2026-09-29T06:00:02.135325+00:00", "fiber_km": null, "fuel_class": "firm/baseload-capable", "fuel_type": "Nuclear", "iso": "PJM", "lat": 39.95, "lng": -76.72, "poi_name": null, "project_name": "Peach Bottom Units #2 & #3", "queue_date": "2016-04-29", "queue_id": "PJM-AB2-175", "queue_status": "Partially in Service - Under Construction", "representative_point": {"lat": 39.95, "lng": -76.72}, "site_evaluation_handoff": null, "snapshot_id": "snap_2026-09-22", "state": "PA", "v": "published"}, {"candidate_id": null, "capacity_mw": null, "coordinate_precision": "county_centroid", "county": "Salem", "estimated_ttp_months": null, "expires_at": "2026-09-29T06:00:02.183572+00:00", "fiber_km": null, "fuel_class": "firm/baseload-capable", "fuel_type": "Nuclear", "iso": "PJM", "lat": 39.64, "lng": -75.47, "poi_name": null, "project_name": null, "queue_date": "2025-04-09", "queue_id": "PJM-AH1-710 - moved to TC2", "queue_status": "Active", "representative_point": {"lat": 39.64, "lng": -75.47}, "site_evaluation_handoff": null, "snapshot_id": "snap_2026-09-22", "state": "NJ", "v": "published"}], "search_version": "refined-queue/2026-07-11", "snapshot_id": "snap_2026-09-22", "summary": {"by_fuel_class": {"firm/baseload-capable": 2, "intermittent": 1}, "by_iso": {"CAISO": 1, "PJM": 2}, "geocoded_returned": 3}, "total_queued_mw": null, "upgrade_options": [{"label": "$10 one-time = 1,000 API credits; each full answer here uses one", "opens": "rest", "plan": "pack", "url": "https://dchub.cloud/go/c/bWV0ZXJlZHw.32b1f8ad0a9f4aa4f04f8276b0960e3f"}, {"label": "Developer $49/mo opens this endpoint", "opens": "rest", "plan": "developer", "url": "https://dchub.cloud/go/c/ZGV2ZWxvcGVyfA.81fd186183a71f7893d1d6ad3ddd1a9c"}], "upgrade_url": "https://dchub.cloud/go/c/bWV0ZXJlZHw.32b1f8ad0a9f4aa4f04f8276b0960e3f"}'
