# Recorded by `supermcp adapter record`; replayed by `supermcp adapter test`.
# Credential values are replaced with SUPERMCP_CREDENTIAL_<NAME>.
adapter: dchub
tool: dchub_stats
recordedAt: 2026-09-22T22:18:01Z
interactions:
  - request:
      method: GET
      url: https://dchub.cloud/api/v1/stats
      headers:
    response:
      status: 200
      headers:
        content-type: application/json
      body: |
        {"_cache":{"age_seconds":0,"served_from":"memo"},"build":"93","data":{"_facility_count_notes":{"basis_map":{"discovered_deduped":"COUNT(*) WHERE duplicate_of_id IS NULL \u2014 also a de-duplication state, not a source verification. This is what stats_canonical publishes as `facilities_verified`, and what /api/v1/facilities filters its listing to.","discovered_total":"COUNT(*) over discovered_facilities \u2014 raw source records. The March 2026 backfill wrote ~1.5 rows per building, so this is records, never buildings.","discovered_verified":"COUNT(*) WHERE is_duplicate = 0 \u2014 a DE-DUPLICATION state (a keeper was elected), NOT a source verification. Do not publish as 'verified'. Equals stats_canonical's `facilities_with_keeper`, NOT its `facilities_verified`.","legacy_facilities_table":"COUNT(*) over the legacy `facilities` table \u2014 a DIFFERENT, undeduplicated table. Not comparable to the others."},"discovered_deduped":22256,"discovered_total":30730,"discovered_verified":23047,"legacy_facilities_table":25877,"primary":"distinct BUILDINGS \u2014 COUNT(DISTINCT canonical_slug) WHERE canonical_slug IS NOT NULL. This is the field to cite and the basis of total_facilities / facilities_distinct in this same response; it matches /api/v1/stats/canonical .stats.facilities_distinct."},"ai_agents_7d":6992,"by_source":{"DC Hub Gap Analysis Feb 2026":28,"DatacenterHawk":21,"OpenStreetMap":6740,"PeeringDB":5953,"ProviderWebsites":312,"Wikidata":2,"audit_2026":9,"audit_2026_p3":28,"audit_bldg":36,"bulk_import":1,"csv_import_hyperscaler":14,"curated_global":120,"curated_hyperscaler":26,"datacenterknowledge":6,"datacentermap":2,"dchub_pipeline":1376,"discovered_facilities_drain":9067,"global_directory":232,"manual":31,"manual_entry":1,"manual_seed":72,"meta":1,"news_articles":6,"news_extraction":2,"news_pipeline":59,"openstreetmap":674,"operator_website":6,"peeringdb":11,"prnewswire":1,"programs.com":1,"provider_directory":537,"seed":88,"westvirginiawatch":1},"by_status":{"Announced":7866,"Approved":1,"Expanding":1,"Operational":12503,"Planned":1387,"Planning":1,"Under Construction":186,"Under Development":2,"active":3375,"announced":35,"operational":518,"planned":1,"under_construction":1},"countries":178,"deals_rows":5648,"deals_tracked":1632,"discovered_facilities":22256,"discovered_facilities_deduped":22256,"discovered_facilities_raw":30730,"facilities_count_basis":"canonical_slug_distinct","facilities_distinct":24542,"facilities_verified":22256,"listings_count":0,"main_facilities":25877,"mcp_calls_24h":9747,"new_last_7_days":19,"pipeline_count":9478,"published_facilities_legacy":25877,"top_countries":{"AU":601,"BR":669,"CA":481,"CN":504,"DE":1079,"FR":796,"GB":978,"IN":484,"NL":526,"US":9743},"top_providers":{"AWS":176,"Amazon Web Services":168,"CyrusOne":204,"DataBank":181,"Digital Realty":545,"Equinix":634,"Flexential":221,"Google":183,"Microsoft":272,"Unknown":1689},"total_announcements":14826,"total_countries":178,"total_deals":1632,"total_facilities":24542,"total_fiber_routes":58183,"total_gas_pipelines":33452,"total_gas_pipelines_basis":"natural gas only \u2014 crude_oil / petroleum / hgl / offshore rows excluded (util/gas_pipelines.py)","total_leads":0,"total_metro_dark_fiber":59,"total_providers":11992,"total_substations":127368,"total_substations_hifld":127368,"total_transmission_lines":94635,"transmission_lines_source":"live"},"deals":1632,"facilities":24542,"facilities_basis":"canonical_slug_distinct","fiber_routes":58183,"gas_pipelines":33452,"generated_at":"2026-09-22T22:06:30.038519Z","markets":331,"metro_dark_fiber":59,"substations":127368,"success":true,"transmission_lines":94635,"transmission_lines_source":"live","version":"v92"}
