# Recorded by `supermcp adapter record`; replayed by `supermcp adapter test`.
# Credential values are replaced with SUPERMCP_CREDENTIAL_<NAME>.
adapter: dchub
tool: dchub_ai_capacity_index
recordedAt: 2026-09-22T22:18:01Z
interactions:
  - request:
      method: GET
      url: https://dchub.cloud/api/v1/ai-capacity-index
      headers:
    response:
      status: 200
      headers:
        content-type: application/json
      body: '{"_gated": true, "_locked_fields": ["markets[].ai_ready_mw.value", "markets[].deployable_mw.value", "markets[].pipeline_mw", "markets[].score", "markets[].total_installed_mw"], "_preview_only": true, "_total_available": 20, "ai_readiness_basis": "ai_ready_mw is a market-level PROXY from disclosed installed capacity \u2014 DC Hub does not yet ingest per-rack power density or cooling type (no public source). Treat as directional, not a spec claim.", "computed_at": "2026-09-22T22:06:33.460872Z", "data_sources": ["discovered_facilities", "DCPI v2", "pipeline (planned)"], "depth_basis": {"facility_count": "distinct OPERATIONAL facilities in the fleet \u2014 COUNT(DISTINCT LOWER(TRIM(name))) over the #1539 fleet filter. Counts buildings, not rows: is_duplicate=0 still admits exact-name collisions from bulk ingest.", "metered_note": "power_mw is populated on roughly a third of rows, so facility_count is a PRESENCE signal, not a capacity one. metered_facility_count reports the share that carries disclosed MW; the count is deliberately NOT filtered on power.", "operator_count": "distinct NAMED providers ('''' is not an operator)", "source_table": "discovered_facilities", "status_basis": {"match": "LOWER(TRIM(COALESCE(status,'''')))", "operational_statuses": ["active", "expanding", "in service", "in-service", "in_service", "live", "operating", "operational", "running"], "pipeline_statuses": ["announced", "approved", "commissioning", "construction", "development", "in development", "permitting", "planned", "planning", "pre-construction", "pre-planning", "proposed", "under construction", "under development", "under-construction", "under-development", "under_construction", "under_development"], "scope": "ai_capacity_index", "taxonomy_version": "2026-07-29", "unclassified_policy": "counted separately \u2014 never added to operational"}, "status_literals_in_query": false}, "horizon_days": 90, "index_name": "AI Compute Capacity Index", "markets": [{"ai_ready_mw": {"band": "1\u20135 GW", "basis": "proxy", "note": "Proxy from disclosed installed MW (x0.6 hyperscale/multi-operator weight). NOT a per-rack kW/density measurement \u2014 no public per-facility density data exists yet.", "value": null}, "city": "Ashburn", "country": "US", "deployable_mw": {"band": "500 MW\u20131 GW", "note": "Estimate from market depth \u2014 refined via ISO interconnect queue join (Q3 2026).", "value": null}, "facility_count": 179, "horizon_days": 90, "hyperscale_ready": true, "market": "ashburn-va", "metered_facility_count": 98, "operator_count": 54, "pipeline_mw": null, "pipeline_mw_band": "500 MW\u20131 GW", "rank": 1, "score": null, "state": "VA", "total_installed_mw": null, "total_installed_mw_band": "5\u201310 GW", "tracked_count": 187}, {"ai_ready_mw": {"band": "1\u20135 GW", "basis": "proxy", "note": "Proxy from disclosed installed MW (x0.6 hyperscale/multi-operator weight). NOT a per-rack kW/density measurement \u2014 no public per-facility density data exists yet.", "value": null}, "city": "Sterling", "country": "US", "deployable_mw": {"band": "100\u2013500 MW", "note": "Estimate from market depth \u2014 refined via ISO interconnect queue join (Q3 2026).", "value": null}, "facility_count": 111, "horizon_days": 90, "hy[...]
