# Recorded by `supermcp adapter record`; replayed by `supermcp adapter test`.
# Credential values are replaced with SUPERMCP_CREDENTIAL_<NAME>.
adapter: dchub
tool: dchub_search_facilities
recordedAt: 2026-09-22T22:18:01Z
interactions:
  - request:
      method: GET
      url: https://dchub.cloud/api/v1/facilities
      headers:
    response:
      status: 200
      headers:
        content-type: application/json
      body: |
        {"count":5,"data":[{"city":"Hampton","country":"US","country_name":"United States","id":11342,"location_display":"Hampton, Georgia, United States","name":"Equinix Hampton xScale Campus","profile_url":"https://dchub.cloud/facilities/equinix-equinix-hampton-xscale-campus-817a7302","provider":"Equinix","slug":"equinix-equinix-hampton-xscale-campus-817a7302","state":"GA","state_name":"Georgia","v":"verified"},{"city":"Frankfurt","country":"","country_name":"Unknown","id":7797,"location_display":"Frankfurt","name":"Frankfurt, FRA5","profile_url":"https://dchub.cloud/facilities/cyrusone-frankfurt-fra5-961cef30","provider":"CyrusOne","slug":"cyrusone-frankfurt-fra5-961cef30","state":"","state_name":"","v":"verified"},{"city":"","country":"JP","country_name":"Japan","id":8296,"location_display":"Japan","name":"\u30c9\u30b3\u30e2","profile_url":"https://dchub.cloud/facilities/ntt-docomo-dokomo-c24be864","provider":"NTT docomo","slug":"ntt-docomo-dokomo-c24be864","state":"","state_name":"","v":"verified"},{"city":"London","country":"","country_name":"Unknown","id":7812,"location_display":"London","name":"London, LON4","profile_url":"https://dchub.cloud/facilities/cyrusone-london-lon4-e3dff8b6","provider":"CyrusOne","slug":"cyrusone-london-lon4-e3dff8b6","state":"","state_name":"","v":"verified"},{"city":"Indianapolis","country":"US","country_name":"United States","id":7891,"location_display":"Indianapolis, United States","name":"Indianapolis","profile_url":"https://dchub.cloud/facilities/databank-indianapolis-292d658b","provider":"DataBank","slug":"databank-indianapolis-292d658b","state":"","state_name":"","v":"verified"}],"full_results_available":true,"note":"Free tier: showing 5 of 22256 matching facilities with basic fields. Upgrade for full data including capacity, coordinates, and detailed specs.","provenance":{"attribution":"Contains data from OpenStreetMap contributors (ODbL 1.0, opendatacommons.org/licenses/odbl/1-0) and PeeringDB, plus operator disclosure and DC Hub curation. Full source list: https://dchub.cloud/data-sources","cite_as":"DC Hub, dchub.cloud","cite_url_template":"https://dchub.cloud/facilities/{slug}","default_v":"tracked","fallback_url":"https://dchub.cloud/facilities/directory","license":"Mixed \u2014 see https://dchub.cloud/data-sources","method":"multi-source discovery + dedup verification; per-record v: verified = passes the canonical fleet filter, tracked = discovery pile (not yet verified). verification_counts describe discovered_facilities \u2014 the same corpus these rows are drawn from (tracked = every row; verified = distinct canonical_slug passing the fleet filter COALESCE(is_duplicate,0)=0)","provenance_version":1,"source":"DC Hub facilities registry (discovered_facilities)","verification_counts":{"tracked":30730,"verified":23027}},"success":true,"tier":"free","total_matching":22256,"upgrade_options":[{"label":"$10 one-time = 1,000 API credits; each full answer here uses one","opens":"rest","plan":"pack","url":"https://dchub.cloud/go/c/bWV0ZXJlZHw.32b1f8ad0a9f4aa4f04f8276b0960e3f"},{"label":"Developer $49/mo opens this endpoint","opens":"rest","plan":"developer","url":"https://dchub.cloud/go/c/ZGV2ZWxvcGVyfA.81fd186183a71f7893d1d6ad3ddd1a9c"}],"upgrade_url":"https://dchub.cloud/go/c/bWV0ZXJlZHw.32b1f8ad0a9f4aa4f04f8276b0960e3f"}
