# Recorded by `supermcp adapter record`; replayed by `supermcp adapter test`.
# Credential values are replaced with SUPERMCP_CREDENTIAL_<NAME>.
adapter: coingecko
tool: coingecko_trending
recordedAt: 2026-09-22T22:18:01Z
interactions:
  - request:
      method: GET
      url: https://api.coingecko.com/api/v3/search/trending
    response:
      status: 200
      headers:
        content-type: application/json; charset=utf-8
      body: |
        {
        "coins": [{"item":{"id":"edel","coin_id":70661,"name":"Edel","symbol":"EDEL","market_cap_rank":903,"thumb":"https://coin-images.coingecko.com/coins/images/70661/standard/edel-mark-dark-DKW6ovcZ_%281%29.png?1790067790","small":"https://coin-images.coingecko.com/coins/images/70661/small/edel-mark-dark-DKW6ovcZ_%281%29.png?1790067790","large":"https://coin-images.coingecko.com/coins/images/70661/large/edel-mark-dark-DKW6ovcZ_%281%29.png?1790067790","slug":"edel","price_btc":3.43517498572248e-07,"score":0,"data":{"price":0.029643776658862336,"price_btc":"0.000000343517498572248","price_change_percentage_24h":{"aed":-2.456815838277556,"ars":-2.4588708107304167,"aud":-2.4388994286061028,"bch":-21.54040687174989,"bdt":-2.3227145985001276,"bhd":-2.4226577131731766,"bits":-1.9271671339728873,"bmd":-2.456815838277557,"bnb":0.17202480522626362,"brl":-2.68192136380137,"btc":-1.927167133972886,"cad":-2.2404504597275063,"chf":-2.523817208240787,"clp":-2.545293181207868,"cny":-2.401457309697349,"czk":-2.237312932014516,"dkk":-2.3262769092478797,"dot":-2.304765862089333,"eos":-8.25062784422047,"eth":-1.4323836100065446,"eur":-2.3279994588842166,"gbp":-2.2686505114554367,"gel":-2.4568158382775716,"hkd":-2.481209871344948,"huf":-2.317701531066528,"idr":-2.7195391864623013,"ils":-2.4338381535903024,"inr":-2.6895144971664875,"jpy":-2.459914719811687,"krw":-3.875999192567101,"kwd":-2.428352697290759,"link":-0.5594765909947103,"lkr":-2.824418232046664,"ltc":-3.3837256709955716,"mmk":-2.4568158382775507,"mxn":-2.0324929079822778,"myr":-2.5142279537347423,"ngn":-2.8384114790600905,"nok":-2.4940952194775994,"nzd":-2.7255212439888368,"php":-2.7132144237348546,"pkr":-2.4024034182925535,"pln":-2.266943885390978,"rub":-1.8804626148482013,"sar":-2.4542181973250834,"sats":-1.927167133972902,"sek":-2.5192039917948046,"sgd":-2.542715492447553,"sol":-1.4266276101676993,"thb":-2.808851390139395,"try":-2.42804468019597,"twd":-2.632918450151217,"uah":-2.331674133233215,"usd":-2.456815838277557,"vef":-2.4568158382775565,"vnd":-2.494880647193673,"xag":-4.003518917504743,"xau":-2.8003524232203634,"xdr":-2.4568158382775627,"xlm":-1.0033732692898631,"xrp":-2.677588374752002,"yfi":-4.222114988637858,"zar":-2.81001334250474},"market_cap":"$20,107,867","market_cap_btc":"233.0136362911257","total_volume":"$2,634,320","total_volume_btc":"30.52705870487172","sparkline":"https://data.coingecko.com/coins/70661/sparkline.svg","content":{"title":"About Edel (EDEL)","description":"Edel is a programmable infrastructure layer designed to integrate global equity markets with blockchain technology through tokenized securities."}}}},{"item":{"id":"pudgy-penguins","coin_id":52622,"name":"Pudgy Penguins","symbol":"PENGU","market_cap_rank":100,"thumb":"https://coin-images.coingecko.com/coins/images/52622/standard/PUDGY_PENGUINS_PENGU_PFP.png?1733809110","small":"https://coin-images.coingecko.com/coins/images/52622/small/PUDGY_PENGUINS_PENGU_PFP.png?1733809110","large":"https://c[...]
